/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	background-color: #FFFEF8;
}
body.modal-open {
    overflow: hidden;
}
.modeEdition {
	display: flex;
    justify-content :center;
	gap: 10px;
    height : 59px;
    width : 1440px;
	margin-left: -150px;
    background :black;
    color :white;
    align-items : center;
	z-index: 2000;
}
.iconeModeEdition {
	color: white;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 39px;
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
li:hover {
	color: #B1663C;
}
#introduction {
	width: 945px;
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin-right: 72px;
	max-width: 474px;
	max-height: 355px;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	max-width: 404px;
	margin-bottom: 1em;
}
#introduction p {
	max-width: 404px;
	margin-bottom: 0.5em;
}
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
.en-tete {
	height: 36px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.Btnmodifie {
	display: flex;
	gap: 10px;
	height: 18px;
    width: 80px;
	position: relative;
	bottom : 50px;
	left: 221px;
}
#portfolio button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;

	min-width: 100px;
	max-width: 198px;
	height: 37px;
	border-radius: 60px;
	border-width: 1px;
	border-color: #1D6154;
	background: none;
	color: #1D6154;

	font-family: "Syne";
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	text-align: center;
}
#portfolio button:focus {
	color: white;
	background: #1D6154;
	outline: none;
}
.filtres {
	display: flex;
	flex-direction: row;
	width: 585px;
	height: 38px;
	gap: 10px;
}
.gallery {
	width: 945px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 30px;
}
.figure {
	width: 305px;
	height: 407px;
}
.gallery img {
	max-width: 305px;
	width: 100%;
	max-height: 407px;
	height: 100%;
}
.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
}
.feuilleModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 688px;
	gap: 50px;
	border-radius: 10px;
	background: white;
}
.Modal1iconeCroix {
	position: relative;
	top: 25px;
	left: 250px;
	font-size: 24px;
}
.feuilleModal h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}
.modalGallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 30px;
	width: 420px;
}
.ModalFigure {
	display: flex;
	width: 76.86px;
	height: 102.57px;
}
.ModalFigure img {
	width: 76.86px;
	height: 102.57px;	
}
.IconeTrash {
	position: relative;
	top: 0px;
	right: 20px;
	width: 10px;
	height: 10px;
	padding: 10px 5px 5px 5px;
	color: white;
	background-color: black;
}
.barreModal{
	position: relative;
	width: 420px;
	border-bottom: 1px solid;
	color: #B3B3B3;
}
.photoBtn {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border-width: 1px;
	background-color: #1D6154;
	color: white;
}
.feuilleModal2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
	width: 630px;
	height: 670px;
	top: 630px;
	left: 405px;
	border-radius: 10px;
	background: white;
}
.Modal2iconeCroix {
	position: relative;
	top: 25px;
	left: 250px;
	font-size: 24px;
}
.ModaliconeRetour {
	position: relative;
	top: 25px;
	right: 250px;
	font-size: 21px;
}
.feuilleModal2 h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}
.formulaire {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8f1f6;
  	border-radius: 5px;
  	text-align: center;
  	width: 100%;
  	max-width: 420px;
	height: 169px;
  	margin: 0;
}
.formulaireModal2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 420px;
	height: 150px;
}
.formulaireModal2 label {
	width: 32px;
	height: 16px;
}
.formulaireModal2 input {
	height: 45px;
	width: 412px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
}
.upload-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #cbd6dc;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	border-radius: 30px;
	cursor: pointer;
	margin-bottom: 10px;	  
}
.preview-icon {
	width: 80px;
	margin-bottom: 15px;
	opacity: 0.5;
}
.PreviewImage {
	width: 129px;
	height: 193px;
}
.PreviewImageUpload {
	max-height:169px;
	max-width: 129px;
}
.info-text {
	font-size: 12px;
	color: #444;
	margin: 0;
}
.BtnValider {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border-width: 1px;
	background-color: #A7A7A7;
	color: white;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer {
	background-color: white;
	height: 60px;
	width: 1440px;
	margin-left: -150px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

